<link rel="stylesheet" href="style.css" />
<h3>Agregar o quitar productos mediante protocolo http</h3>
<div id="product-list">
    <div class="gridHttp">
        <h4>Producto</h4>
        <h4>Description</h4>
        <h4>Precio</h4>
        <h4>Stock</h4>
    </div>
    <div class="gridHttp">
    {{#each products}}
        <p>{{title}}</p>
        <p>{{description}}</p>
        <p>${{price}}</p>
        <p>{{stock}}</p>
    {{/each}}
    <div>
</div>